server:
  port: ${SERVER_PORT:30001}

spring:
  application:
    name: ${APPLICATION_NAME:jenkins_serail}
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL:jdbc:mysql://127.0.0.1:3306/jenkins?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&useSSL=false}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQLInnoDBDialect

jenkins:
  username: ${JENKINS_USERNAME:root}
  password: ${JENKINS_PASSWORD:root}
  url: ${JENKINS_URL:http://www.jenkins.com}
logging:
  level:
    # 生产环境建议设置为info级别
    com.sensin.build.jenkinsserial: ${LOGGING_LEVEL:debug}

